<!doctype html>
<title>Sloan Metadata Selection</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Sections</h1>

  <div class=metanav>

    <h2>Job</h2>

    <h4>
      <form id='checkbox_page' method='post' action='' >
        <p>
          {% for i in labs %}
            <input type='checkbox' name='gray' value="{{i}}" >{{i}} <br />
          {% endfor %}
        </p>

        <p>
          <input type='submit' value='Next' />
        </p>
      </form>
    </h4>
  </div>
</div>