<!doctype html>
<title>Sloan Metadata Selection</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Sections</h1>

  <div class=metanav>

    <h2>Job</h2>

    <h4>
      <form id='checkbox_page' method='post' action='' >
        <p>
          <input type='checkbox' name='gray' value={{opt1}} /> {{opt1}} <br />
          <input type='checkbox' name='gray' value={{opt2}} /> {{opt2}} <br />
          <input type='checkbox' name='gray' value={{opt3}} /> {{opt3}} <br />
          <input type='checkbox' name='gray' value={{opt4}} /> {{opt4}} <br />
          <input type='checkbox' name='gray' value={{opt5}} /> {{opt5}} <br />
          <input type='checkbox' name='gray' value={{opt6}} /> {{opt6}} <br />
          <input type='checkbox' name='gray' value={{opt7}} /> {{opt7}} <br />
          <input type='checkbox' name='gray' value={{opt8}} /> {{opt8}} <br />
          <input type='checkbox' name='gray' value={{opt9}} /> {{opt9}} <br />
          <input type='checkbox' name='gray' value={{opt10}} /> {{opt10}} <br />
          <input type='checkbox' name='gray' value={{opt11}} /> {{opt11}} <br />
          <input type='checkbox' name='gray' value={{opt12}} /> {{opt12}} <br />
          <input type='checkbox' name='gray' value={{opt13}} /> {{opt13}} <br />
        </p>

        <p>
          <input type='submit' value='Next' />
        </p>
      </form>
    </h4>
  </div>
</div>